* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variable Style */
:root {
    --primary-color: #2B0948;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Common style */
body {
    font-family: 'Poppins', sans-serif;
    color: var(--font-color);

}


h1 {
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
}

/* Hero Section Style */
.hero-section {
    width: 1331px;
    height: 646px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: var(--primary-color);
    position: relative;
    border-radius: 30px;
    margin-top: 30px;

}

.hero-left-block {
    width: 50%;

}

.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
}


.hero-title {
    color: #ffffff;
}

.hero-paragraph {
    color: #ffffff;
    margin-top: 27px;
    margin-bottom: 27px;
}

.live-btn {
    font-size: 20px;
    padding: 16px 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    position: absolute;
    transition: all 0.5s ease-in-out;
    background-color: tomato;
    color: #ffffff;
    margin-top: -0;
}



.live-btn:hover {

    margin-top: -10px;
}


.hero-right-block {
    width: 50%;
}

.hero-right-block img {
    height: 96%;
    position: absolute;
    bottom: 0;
    transition: all 600ms ease-in-out;
}

@media (hover: hover) {
    .hero-section img {
        height: 98%;
        position: absolute;
        bottom: 0;
    }
}

@media (hover: none) {
    .hero-section img {
        height: 96%;
        padding-top: 21px;
    }
}


/* Blog Section Style */
.blog-section {
    width: 1321px;
    justify-content: center;
    margin: 0 auto;
}

.container {
    margin-top: 130px;
    margin-bottom: 130px;
    display: grid;
    grid-template-columns: 312px auto;
    justify-content: space-between;
    gap: 24px;
    align-items: start;

}

.left-navigator {
    border-radius: 10px;
    background-color: var(--primary-color);
}

.all-blogs {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-auto-flow: row;
    gap: 30px;
}

.main-menu {
    padding: 30px;
    height: 312px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.main-menu button {
    display: block;
    width: 252px;
    height: 64px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    cursor: pointer;
    border: none;

}

.main-menu a {
    text-decoration: none;
    color: #161616;

}

.main-menu .blog {
    background-color: tomato;
    color: #ffffff;
}


.main-blog {
    width: 100%;
    justify-content: center;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.blog-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-summary {
    padding: 20px;
}

.transfer-btn {
    padding: 4px 16px;
    font-size: 16px;
    border: 1px solid #161616;
    border-radius: 5px;
    color: #161616;
}

.match-summary {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.info-time-commnets .clock {
    margin-right: 30px;
    color: #161616;
}


.view-all {
    display: none;
}

/* Footer Section Style */
.main-footer {
    width: 100vw;
    height: 444px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
    text-align: center;

}

.logo-text h2 {
    color: #ffffff;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.line hr {
    margin: 25px 0px;
    border: 0.5px solid rgba(78, 78, 78, 0.566)
}

ul {
    display: flex;
    justify-content: center;
    align-content: center;
    text-decoration: none;
    color: #ffffff;
    list-style: none;
    padding: 0 16px;
    line-height: 50px;
    flex-wrap: wrap;
}

li a {
    flex-wrap: wrap;
    justify-content: center;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    list-style: none;
    padding: 0 16px;
    line-height: 50px;
}

.social-icon i {

    color: #ffffff;
    font-size: 30px;
    margin: 20px 20px;

}

/* -----------------------------
Meda Queries - Responsiveness 
----------------------------- */

/*------ Mobile Devices Responsive --------*/
@media screen and (max-width: 767px) {

    /* Hero Section Responsive for Mobile */
    .hero-section {
        width: 90%;
        padding: 28px 38px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        justify-items: center;
        text-align: center;
        margin: 20px;

    }

    .hero-content {
        flex-direction: column;
        padding: 0;
        justify-content: center;
        display: space-between;
    }

    .hero-content p {
        height: 40px;
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 20px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .hero-left-block {
        width: 100%;
        padding: 0;
    }

    .hero-content h1 {
        font-size: 22px;
        text-align: center;
        line-height: 33px;

    }

    .hero-left-block p {
        text-align: center;
        font-size: 14px;
    }

    .live-btn {
        font-size: 20px;
        padding: 8px 12px;
        font-weight: 400;
        position: relative;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .hero-right-block {
        display: flex;
        justify-content: center;
    }

    .hero-right-block img {
        height: 50%;

    }

    /*---- Blog Section Responsive for Mobile----*/
    .container {
        display: flex;
        align-items: center;
        margin-top: 0px;
        margin-bottom: 24px;
        flex-direction: column;
    }

    .main-menu {
        display: inline-block;
        background-color: #fff;
        position: relative;
        height: auto;
        padding: 0px 30px 0 30px;
    }

    .left-navigator {
        width: 90%;
        display: flex;
        justify-content: center;
        background-color: white;
        min-width: 160px;
    }

    .main-menu button {
        background-color: #ffffff;
        border: 1px solid #E8E8E8;
        border-radius: 10px;
        margin: 16px 0;

    }

    .all-blogs {
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
        justify-items: center;
    }

    .main-blog {
        width: 90%;
    }

    .blog-section {
        display: flex;
        width: 100%;
    }


    .view-all {
        display: none;
    }

    /* Footer Section Responsive */
    .main-footer {
        height: fit-content;
        padding: 24px 0;
    }

    .logo-text h2 {
        font-size: 22px;
    }

    ul {
        display: inline-block;
    }


}

/*------ Tablets Devices Responsive --------*/
/* ---Blog Section Resposive For Tablet--- */

@media screen and (min-width: 768px) and (max-width:1023px) {
    main {
        margin: 50px;
    }

    .container {
        width: 100%;
        margin-bottom: 30px;
    }

    .hero-section {
        width: 100%;
        height: 398px;
        margin: 0px;
        /* padding-top: 70px;
        padding-left: 70px;
        padding-bottom: 60px; */
    }

    .hero-content {
        align-items: flex-start;

    }

    .hero-content h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .hero-content p {
        height: 40px;
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 20px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .hero-right-block img {
        height: 80%;
    }

    .container {
        margin-top: 70px;
        grid-template-columns: repeat(1, 1fr);
    }

    .left-navigator {
        display: block;
        background-color: #ffffff;
    }

    .blog-section {
        display: flex;
        width: 100%;
    }

    .all-blogs {
        position: relative;
        grid-template-columns: repeat(2, 1fr);
    }

    /* Navigator */
    .main-menu {
        display: flex;
        width: 100%;
        flex-direction: row;
        height: auto;
        padding: 0;
        margin-top: 0px;
    }

    .main-menu button {
        /* display: block; */
        width: 210px;
        height: 64px;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        cursor: pointer;
        border: none;
        border-radius: 10px;

    }

    .view-all {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 252px;
        height: 64px;
        font-size: 30px;
        font-weight: 500;
        line-height: 30px;
        cursor: pointer;
        border: none;
        background-color: tomato;
        color: #ffffff;
        margin-top: 30px;
        border-radius: 5px;
        padding-top: 12px 29px;
    }

}


/* Upcoming Match Style */
.upcoming-matches-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-auto-flow: row;
    gap: 30px;
}

.upcoming-match {
    justify-content: center;
    align-items: ;
    padding: 53px 30px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.country {
    display: flex;
    align-items: center;
    justify-content: center;

}

.upcoming-match h2 {
    color: 161616;
    font-size: 20px;
    font-size: 600;
    padding-top: 20px;
    padding-bottom: 10px;
}

.upcoming-match p {
    text-align: center;
    font-size: 16px;
    color: #4D4D4D;
}